.data-row {
  margin: 0;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-shadow: 3px 2px 5px steelblue;
  color: midnightblue;
  min-height: 70px;
  transition: color .8s ease;
}

.data-row::before {
  content: '';
  width: 100%;
  min-height: 70px;
  border-radius: 15px;
  background-color: #00BFFF;
  opacity: 0;
  position: absolute;
  z-index: 1;
  transition: opacity 2s ease;
}

.data-row:hover::before {
  opacity: .8;
  cursor: pointer;
}

.data-row:hover {
  color: white;
  cursor: pointer;
}

.data-row:nth-of-type(2n+1) {
  background-color: #E6E6FA;
}

.data-row:nth-of-type(2n) {
  background-color: #F5FFFA;
}

.data-row__list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.data-row__item-box {
  margin: 0;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.data-row__text {
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .app {
    padding: 28px 19px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .app {
    padding-right: 100px;
    padding-left: 100px;
  }
}
